/* Задаём задний цвет фона */
body {
	background: #d1e4ff;
	margin: 0;
	padding: 0;
}


/* Центрируем блок по центру */
.content {
	width: 980px;
	background-color: #fff;
	margin: 0 auto;
}

/* Отступы для центрального блока с котентом */
.centr {
	margin: 0 30px;
}

/* Стилизуем заголовки */
h1 {
	padding-top: 78px;
}

h2 {
	padding-top: 58px;
}

h3,
h4 {
	padding-top: 48px;
}

h5 {
	padding-top: 36px;
}

h6 {
	padding-top: 26px;
}

/* Стилизация абзаца */

p {
	font-family: Arial, sans-serif;
	font-size: 16px;
	padding-top: 28px;
}

.headline {
	font-family: Arial, sans-serif;
	font-size: 36px;
	padding-top: 56px;
}

code {
	background-color: #f0e6d6;
	border-radius: 2px;
}

.text {
	font-family: Arial, sans-serif;
	font-size: 16px;
	margin: 0;
}

.assingment {
	background-color: #ff0;
}

.underline {
	text-decoration: underline;
}

.del {
	text-decoration: line-through;
}

.upline {
	vertical-align: super;
	font-size: 10px;
}

.dwnline {
	vertical-align: sub;
	font-size: 10px;
}

.wrapping {
	margin: 0;
	padding: 0;
	width: 890px;
	height: 62px;
	background-color: #eadcea;
	border-left-style: solid;
	border-left-color: #b496b4;
	border-left-width: 4px;
}

.text {
	padding: 12px 16px;
}
/* Стилизация preformating */
.format {
	margin: 0;
	padding: 0;
	width: 890px;
	font-family: Courier New, monospace;
	background: #f0e6d6;
}

pre {
	padding: 11px 0 0 11px;
}

/* Стилизация списков */

.list {
	width: 980px;
	margin: 0 30px;
}

.txtlist {
	font-family: Arial, sans-serif;
	text-transform: uppercase;
	font-size: 36px;
}

.marklist {
	font-family: Arial, sans-serif;
	font-size: 26px;
}