/* Стиили центровки */

body {
	background-color: #d1e4ff;
	padding: 0;
 	margin: -21px 0;
 }

.content {
	width: 980px;
	background-color: #fff;
	margin: 0 auto;
}

.centr {
	width: 920px;
	margin: 0 30px;
}

/* Стилизация заголовков */

.leader h1 {
	font-family: Arial, sans-serif;
	text-transform: uppercase;
	padding-top: 78px;
}

.leader h2 {
	font-family: Arial, sans-serif;
	text-transform: uppercase;
	padding-top: 58px;
}

.leader h3, h4 {
	font-family: Arial, sans-serif;
	text-transform: uppercase;
	padding-top: 48px;
}

.leader h5 {
	font-family: Arial, sans-serif;
	padding-top: 36px;
}

.leader h6 {
	font-family: Arial, sans-serif;
	padding-top: 26px;
}

/* стилизация headline */

.headline {
	font-family: Arial, sans-serif;
	font-size: 36px;
	text-transform: uppercase;
	padding-top: 56px;
}

/* стилизация тега code */

code {
	background-color: #f0e6d6;
}

/* стилизация текста под разные виды написания */

.assingment {
	background-color: #ff0;
}

.underline {
	text-decoration: underline;
}

.del {
	text-decoration: line-through;
}

.upline {
	vertical-align: super;
	font-size: 10px;
}

/* стилизация отдельных видов code */

.dwnline {
	vertical-align: sub;
	font-size: 10px;
}

.other-color {
	background-color: #eadcea;
}

.ocolor {
	background-color: #eadcdc;
}

/* стилизация блоков с задним фоном */

.wrapping {
	height: 62px;
	background-color: #eadcea;
	border-left-style: solid;
	border-left-color: #b496b4;
	border-left-width: 4px;
	padding-top: 
}

.wrapping__text {
	padding-top: 12px;
	margin-left: 16px;
}

.format {
	background-color: #f0e6d6;
}

pre {
	padding-top: 10px;
	margin-left: 12px;
}

/* стилизация списков */

.txtlist h2 {
	font-family: Arial, sans-serif;
	font-size: 36px;
	text-transform: uppercase;
	padding-top: 70px;
}

.txtlist h3 {
	font-family: Arial, sans-serif;
	font-size: 26px;
}

.numlist {
	font-family: Arial, sans-serif;
	font-size: 26px;
}

.info p {
	font-family: Arial, sans-serif;
	font-style: italic;
	font-weight: bold;
	margin: 0;
}

.info__txt {
	width: 760px;
	margin: 0 auto;
}

.style__txt {
	font-family: Arial, sans-serif;
	margin-left: 35px;
	margin: 0 auto;
}

ul:nth-child(n+1) {
	padding-top: 14px;
}

ol:nth-child(n+1) {
	padding-top: 14px;
}

/* Стилизация таблицы */

.table__txt h2 {
	font-family: Arial, sans-serif;
	font-size: 36px;
	font-weight: bold;
	text-transform: uppercase;
}

table {
	width: 920px;
	border-collapse: collapse;
	border: 1px solid;
	border-color: #b496b4;
}

td {
	border: 1px solid #b496b4;
}

tr:first-child {
	background-color: #eadcea;
	text-align: center;
}

tr:nth-child(n+1) {
	height: 30px;
}

/* footer */

footer {
	height: 64px;
}